<!DOCTYPE html>
<html>

<head>
    <title>Spotify Web Playback SDK Quick Start Tutorial</title>
</head>

<body>
    <h1>Spotify Web Playback SDK Quick Start Tutorial</h1>
    <h2>Open your console log: <code>View > Developer > JavaScript Console</code></h2>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = 'BQAyPRrRNaZR5UqgyhmdRqb4SeWRHkzCZ3e8MMWytmX6SZYefRb_xnBdwv2fNQoSBpuyfYwh9yUduc0oDvKRwxuienIiA3NWhEbt_8QErtdc_G4qtz5Tyf3iPi_KvR3GaG4O4ADX55rLUXFTwt2UFKb0M3_9N9Y';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => {
                    cb(token);
                }
            });

            // Error handling
            player.addListener('initialization_error', ({
                message
            }) => {
                console.error(message);
            });
            player.addListener('authentication_error', ({
                message
            }) => {
                console.error(message);
            });
            player.addListener('account_error', ({
                message
            }) => {
                console.error(message);
            });
            player.addListener('playback_error', ({
                message
            }) => {
                console.error(message);
            });

            // Playback status updates
            player.addListener('player_state_changed', state => {
                console.log(state);
            });

            // Ready
            player.addListener('ready', ({
                device_id
            }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({
                device_id
            }) => {
                console.log('Device ID has gone offline', device_id);
            });
            player = new Spotify.Player({
                name: 'Carly Rae Jepsen Player',
                getOAuthToken: callback => {
                    // Run code to get a fresh access token

                    callback('access token here');
                },
                volume: 0.5
            });

            // Connect to the player!
            player.connect();
        };
    </script>
</body>

</html>